.App {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 5rem 5rem 5rem;
  padding: 0;
}

h1 {
  margin: 1rem 0 2rem 5rem;
  padding: 1rem 0 0 0;
}
